<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.CarParkConnectionString"
            connectionString="Data Source=HonorPC\SQLEXPRESS;Initial Catalog=CarPark;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>